Source: heimdalld
Section: develop
Priority: Testing
Maintainer: Shibarium <team@shibarium.technology>
Build-Depends: debhelper-compat (= 13)
Standards-Version: v1.0.2
Homepage: https://www.shibariumtech.com/
Rules-Requires-Root: no
Package: heimdalld
Version: 1.0.2
Architecture: amd64
Multi-Arch: foreign
Depends:
Description: This is the control file for the Shibarium project known as heimdall. This project can have multiple iterations and more details can be found in the official Github Page: https://github.com/shibaone/heimdall

